.jumbotron {
    display: flex;
    justify-content: center;
}
.main {
    display: inline-flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
}
table {
    margin: 0px;
    width: 50%;

}
.main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 25%;
}
.abc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
input {
    display: block;
}
